* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .content {
  width: 600px;
  height: 30px;
  background-color: black;
  background-image: repeating-linear-gradient(40deg, #dadada, #8f8f8f 20px, #dadada 30px, #8f8f8f 35px, #cccccc 40px);
  border-radius: 40px;
  animation: movein 0.0005s linear infinite;
}